.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message {
    text-align: left;
    color: #de1b17;
    font-size: 15px;
}

.inputError {
    border: 2px solid #de1b17;
}

.input, .inputError {
    border-radius: .5em;
    padding: 10px 5px;
    border: 2px solid #c8d5e5;
    color: #212121;
}
