.preloader {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: themed(--lightGrayishBlue-mostlyBlackBlue);
        width: 100vw;
        height: 100vh;
    }
}
