.color-picker {
    &-dialog {
        @include modal-fit-content(400px, 50px);

        :global {
            .ant-modal-body {
                padding: 16px;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 1fr max-content;
                row-gap: 16px;
            }
        }

        &-buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}
