.environment-settings-page {
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 100%;

    :global {
        .ant-card-body {
            padding: 0;
        }

        .ant-tabs {
            height: 100%;
            width: 100%;
            overflow: hidden;

            &-tabpane {
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            &-content {
                padding: 16px;

                &-holder {
                    height: 100%;
                    width: 100%;
                    overflow-y: auto;
                }
            }
        }
    }
}
