$black: black;
$white: white;
$moderateBlue: #446cb3;
$veryDarkBlue: #1b232f;
$strongBlue: #2f4b7c;
$oxfordBlue: #2f3b4b;
$mostlyBlackBlue: #0b0c0e;
$lightGrayishBlue: #f0f2f5;
$mostlyDarkBlue: #131e32;
$vividBlue: #1677ff;
$bostonBlue: #3f99bc;
