@import 'responsive';
@import 'colors';

$theme-map-light: (
    --white-black: $white,
    --moderateBlue-veryDarkBlue: $moderateBlue,
    --strongBlue-oxfordBlue: $strongBlue,
    --lightGrayishBlue-mostlyBlackBlue: $lightGrayishBlue,
    --mostlyDarkBlue-veryDarkBlue: $mostlyDarkBlue,
    --vividBlue-bostonBlue: $vividBlue,
);

$theme-map-dark: (
    --white-black: $black,
    --moderateBlue-veryDarkBlue: $veryDarkBlue,
    --strongBlue-oxfordBlue: $oxfordBlue,
    --lightGrayishBlue-mostlyBlackBlue: $mostlyBlackBlue,
    --mostlyDarkBlue-veryDarkBlue: $veryDarkBlue,
    --vividBlue-bostonBlue: $bostonBlue,
);
