.user-settings-page {
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 100%;

    :global {
        .ant-form-vertical .ant-form-item-row {
            max-width: 290px;
            width: 100%;
        }

        .ant-btn {
            max-width: 290px;
            width: 100%;
        }
    }
}
