.user-settings-page {
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1600px;

    @media screen and (max-width: $xl-min) {
        grid-template-columns: 100%;
    }

    &-description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > svg {
            width: 370px;
            height: 370px;
        }

        @media screen and (max-width: $xl-min) {
            display: none;
        }

        &-text {
            color: themed(--darkGrey-rockBlue);
            padding: 0 20px;
            text-align: center;
        }
    }
}
