.notification {
    background: themed(--white-mirage);

    :global {
        .ant-notification-notice {
            &-message {
                color: themed(--black-white);
            }

            &-description {
                color: themed(--darkGrey-rockBlue);
            }

            &-close,
            &-close:hover {
                color: themed(--black-white);
            }
        }
    }
}
