.auth-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &-logo {
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        path {
            fill: themed(--blue-summerSky);
        }
    }

    &-title {
        font-size: 18px;
        text-align: center;
        font-weight: 500;
        padding-bottom: 20px;
        color: themed(--black-white);
    }

    &-form {
        width: 100%;
        max-width: 320px;
        border-radius: 12px;
        padding: 16px 24px;
        background: themed(--white-mirage);
        overflow-y: auto;
    }
}
