.sidebar {
    :global {
        .ant-layout-sider-children {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: max-content 1fr;
            overflow: hidden;
        }

        .ant-menu {
            height: 100%;
            padding-right: 6px;
            overflow-y: auto;
            background: inherit;

            &-item-icon {
                path {
                    fill: $white;
                }
            }
        }

        .ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
        .ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-active,
        .ant-menu-dark:not(.ant-menu-horizontal)
            .ant-menu-item:not(.ant-menu-item-selected):active {
            background-color: themed(--vividBlue-bostonBlue);
        }
    }

    &-content {
        height: 100%;
        padding-bottom: 24px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr max-content;
        row-gap: 12px;
        align-content: space-between;
        overflow: hidden;
        background: themed(--mostlyDarkBlue-veryDarkBlue);
    }

    &-logo {
        font-size: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: themed(--strongBlue-oxfordBlue);

        svg {
            fill: $white;

            path {
                fill: $white;
            }
        }
    }
}
