.dropdown {
    :global {
        .ant-upload {
            color: themed(--black-white);
        }

        .ant-dropdown {
            &-arrow {
                box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 10%) !important;
                background: themed(--white-oxfordBlue) !important;
                z-index: auto !important;

                &:before {
                    background: themed(--white-oxfordBlue) !important;
                }
            }

            &-menu {
                padding: 0 !important;
                background-color: themed(--white-oxfordBlue) !important;
                cursor: pointer;

                &-item {
                    margin: 0 !important;
                    height: 38px !important;
                    line-height: 38px !important;
                    color: themed(--darkGrey-rockBlue) !important;

                    > span {
                        color: themed(--black-white);
                    }

                    path {
                        fill: themed(--blue-summerSky);
                    }

                    &-danger {
                        path {
                            fill: themed(--outrageousOrange-orangeRoughy);
                        }

                        > span {
                            color: themed(--outrageousOrange-orangeRoughy);
                        }
                    }

                    &:active,
                    &:hover {
                        background-color: themed(--aliceBlue-fiord) !important;
                        color: unset !important;
                        border-radius: inherit !important;
                    }
                }
            }
        }
    }
}
