.theme-switch {
    display: grid;
    column-gap: 8px;
    grid-auto-flow: column;
    align-items: center;
    grid-auto-columns: max-content;
    justify-items: center;
    font-size: 12px;

    span {
        color: themed(--darkGrey-rockBlue);
    }

    &-folded {
        justify-content: center;
    }
}
