.user-settings-form {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    height: 100%;
    overflow-y: hidden;

    :global {
        .ant-form-item .ant-form-item-label > label {
            color: themed(--darkGrey-rockBlue);
        }

        .ant-picker {
            width: 100%;
        }
    }

    &-title {
        font-size: 16px;
        color: themed(--black-white);
    }

    &-content {
        overflow-y: auto;
        padding-right: 6px;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: max-content;
        row-gap: 14px;
    }
}
