.user-settings-form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-auto-rows: max-content;
    row-gap: 14px;
    height: 100%;
    overflow-y: hidden;

    &-content {
        height: 100%;
        overflow-y: auto;
        padding-right: 6px;
    }
}
