.main-layout {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    :global {
        .ant-layout .ant-layout-header {
            background: themed(--moderateBlue-veryDarkBlue);
        }
    }

    &-content {
        padding: 24px;
        height: 100%;
        width: 100%;
    }
}
