.main {
    padding: 110px 0;
    background-color: #526060;
}
.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}