$black: black;
$white: white;
$athensGray: #f0f2f5;
$blue: #1890ff;
$blueBayoux: #465a79;
$dodgerLightBlue: #5fb2ff;
$lightblue: #40a9ff;
$moderateBlue: #446cb3;
$veryDarkBlue: #1b232f;
$strongBlue: #2f4b7c;
$oxfordBlue: #2f3b4b;
$mostlyBlackBlue: #0b0c0e;
$lightGrayishBlue: #f0f2f5;
$mostlyDarkBlue: #131e32;
$vividBlue: #1677ff;
$bostonBlue: #3f99bc;
$lightblue2: #99bff3;
$solitude: #dbeaff;
$strongblue: #2f4b7c;
$fiord: #394b63;
$whiteSmoke: #f4f4f4;
$astral: #2e89ad;
$darkGrey: #676767;
$disaturatedBlue: #7890b5;
$paleBlue: #abcae6;
$mirage: #1b232f;
$alto: #d9d9d9;
$tangaroa: #172836;
$zeus: #242018;
$mercury: #e8e8e8;
$blackPearl: #0c1523;
$midnight: #262f3b;
$rockBlue: #9fb2cf;
$licorice: #2a3649;
$nobel: #b4b4b4;
$suvaGrey: #8d8d8d;
$cosmos: #ffd1d1;
$redRobin: #793b3b;
$indianRed: #d45d5d;
$sweetPink: #e99c9c;
$apricot: #ed7c7c;
$pink: #fec2c2;
$summerSky: #42b9e8;
$outrageousOrange: #ff5e3a;
$orangeRoughy: #d54b1a;
$lightRed: #ff8267;
$brightOrange: #f16837;
$bitterDandelion: #6ad144;
$darkLime: #177d08;
$vividLime: #30e014;
$darkLime1: #27ad13;
$aliceBlue: #eef5ff;
$bigStone: #182943;
$gray: #bdbcbc;
$aquaBlue: #85dcff;
$graniteGray: #606060;
$sixtyPercentBlack: #00000060;
$woodsmoke: #0b0c0e;
