$black: black;
$white: white;
$blue: #1890ff;
$moderateBlue: #446cb3;
$veryDarkBlue: #1b232f;
$strongBlue: #2f4b7c;
$oxfordBlue: #2f3b4b;
$mostlyBlackBlue: #0b0c0e;
$lightGrayishBlue: #f0f2f5;
$mostlyDarkBlue: #131e32;
$vividBlue: #1677ff;
$bostonBlue: #3f99bc;
$solitude: #dbeaff;
$fiord: #394b63;
$astral: #2e89ad;
$darkGrey: #9a9a9a;
$disaturatedBlue: #7890b5;
$mirage: #1b232f;
$alto: #d9d9d9;
$zeus: #242018;
$mercury: #e8e8e8;
$blackPearl: #0c1523;
$midnight: #262f3b;
$rockBlue: #9fb2cf;
$licorice: #2a3649;
$nobel: #b4b4b4;
