@import 'responsive';
@import 'colors';

$theme-map-light: (
    --white-black: $white,
    --white-mirage: $white,
    --black-white: $black,
    --moderateBlue-veryDarkBlue: $moderateBlue,
    --strongBlue-oxfordBlue: $strongBlue,
    --lightGrayishBlue-mostlyBlackBlue: $lightGrayishBlue,
    --mostlyDarkBlue-veryDarkBlue: $mostlyDarkBlue,
    --vividBlue-bostonBlue: $vividBlue,
    --blue-astral: $blue,
    --solitude-fiord: $solitude,
    --darkGrey-disaturatedBlue: $darkGrey,
    --alto-zeus: $alto,
    --alto-oxfordBlue: $alto,
    --mercury-blackPearl: $mercury,
    --white-midnight: $white,
    --darkGrey-rockBlue: $darkGrey,
    --alto-licorice: $alto,
    --blue-bostonBlue: $blue,
    --nobel-rockBlue: $nobel,
    --aliceBlue-bigStone: $aliceBlue,
    --blue-summerSky: $blue,
    --dodgerLightBlue-aquaBlue: $dodgerLightBlue,
    --cosmos-redRobin: $cosmos,
    --indianRed-sweetPink: $indianRed,
    --apricot-pink: $apricot,
    --lightblue-summerSky: $lightblue,
    --outrageousOrange-orangeRoughy: $outrageousOrange,
    --lightRed-brightOrange: $lightRed,
    --bitterDandelion-darkLime: $bitterDandelion,
    --vividLime-darkLime1: $vividLime,
);

$theme-map-dark: (
    --white-black: $black,
    --white-mirage: $mirage,
    --black-white: $white,
    --moderateBlue-veryDarkBlue: $veryDarkBlue,
    --strongBlue-oxfordBlue: $oxfordBlue,
    --lightGrayishBlue-mostlyBlackBlue: $mostlyBlackBlue,
    --mostlyDarkBlue-veryDarkBlue: $veryDarkBlue,
    --vividBlue-bostonBlue: $bostonBlue,
    --blue-astral: $astral,
    --solitude-fiord: $fiord,
    --darkGrey-disaturatedBlue: $disaturatedBlue,
    --alto-zeus: $zeus,
    --alto-oxfordBlue: $oxfordBlue,
    --mercury-blackPearl: $blackPearl,
    --white-midnight: $midnight,
    --darkGrey-rockBlue: $rockBlue,
    --alto-licorice: $licorice,
    --blue-bostonBlue: $bostonBlue,
    --nobel-rockBlue: $rockBlue,
    --aliceBlue-bigStone: $bigStone,
    --blue-summerSky: $summerSky,
    --dodgerLightBlue-aquaBlue: $aquaBlue,
    --cosmos-redRobin: $redRobin,
    --indianRed-sweetPink: $sweetPink,
    --apricot-pink: $pink,
    --lightblue-summerSky: $summerSky,
    --outrageousOrange-orangeRoughy: $orangeRoughy,
    --lightRed-brightOrange: $brightOrange,
    --bitterDandelion-darkLime: $darkLime,
    --vividLime-darkLime1: $darkLime1,
);
