.container {
  border-radius: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.activeSlide {
  opacity: 1;
}
.slide {
  opacity: 0;
}
.slide, .activeSlide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity ease-in-out 0.4s;
}
.screenshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btnLeft {
  left: 20px;
}
.btnRight {
  right: 20px;
}
.btn, .btnLeft, .btnRight {
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.leftArrow {
  transform: rotate(90deg);
}
.rightArrow {
  transform: rotate(-90deg);
}
.arrow, .leftArrow, .rightArrow {
  width: 40px;
  height: 40px;
  pointer-events: none;
}
.dots {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-50%);
  display: flex;
}
.dot, .dotActive {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #c8d5e5;
  margin: 0 5px;
  background: #c8d5e5;
  cursor: pointer;
}
.dotActive {
  background: rgb(32, 32, 32);
}